<form method="post" action="/app/signup">
    <p>
        <span>name:</span><input type="text
" name="name">
    </p>
    <p>
        <span>email:</span><input type="text
" name="email">
    </p>
    <p>
        <span>gender:</span>
        <select name="gender">
            <option value="1">male</option>
            <option value="0">female</option>
        </select>
    </p>
    <p>
        <span>phone:</span><input type="text
" name="mobile">
    </p>
    <p>
        <span>password:</span><input type="text
" name="pwd">
    </p>
    <p>
        <span>repeat password:</span><input type="text
" name="pwd_repeat">
    </p>
    <p>
        <button type="reset">cancel</button>
        <button type="submit">OK</button>
    </p>
</form>